@media (min-width: 576px) {
  section.w-sm-100 p {
    width: 60%;
  }
}

.fixed-width-100 {
  width: 500px;
  outline: 1px red solid;
}

.outline {
  outline: 1px solid red;
}

.tada {
  display: inline-block;
  margin: 0 0.5rem;

  animation: tada infinite; /* Add "infinite" here to make it run indefinitely */
  animation-duration: 2s;
}
